.dot {
    position: relative;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
}

.dot h1 {
    margin-top: 25%;
}

.winDot {
    background-color: green;
}

.loseDot {
    background-color: red;
}

.center {
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 6em;
    margin-top: -3em;
    margin-left: -3em;
    position: fixed;
}

.dot h1{
    font-size: xx-large;
}

.check {
    margin-top: 25%;
    color: white;
    font-size: xxx-large;
}

.times {
    margin-top: 25%;
    color: white;
    font-size: xxx-large;
}

@media only screen and (max-width: 800px) {
    .center {
        width: 2em;
        height: 2em;
        margin-top: -1em;
        margin-left: -1em;
    }
    .dot h1{
        font-size: 0.8em;
    }

    .check {
        font-size: medium;
    }

    .times {
        font-size: medium;
    }

}