.card {
    position: relative;
    text-align: center;
}

.card a:link {
    text-decoration: none;
    color: black;
}

.card a:visited {
    text-decoration: none;
    color: black;
}

.card a:link:hover {
    text-decoration: underline;
    color:darkblue;
}

.card img {
    height: 12rem;
    border-radius: 50%;
}

.questionMark{
    font-size: 12rem;

}

.card h1{
    font-size: xx-large;
}

.card p {
    width: 100%;
    min-height: 10vh;
    font-size: 1.7vh;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .card h1{
        font-size: large;
    }

    .card img {
        height: 4rem;
    }

    .card FaQuestionCircle{
        font-size: 4rem;
    }
}